<body>    
      <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(var item in @ViewBag.DatosCesta)
        {            
            <div class="col">
            <div class="card h-100">            
                  <img src="@item.Producto.UrlImagen" class="card-img-top" alt="Imagen Pizza">
                  <div class="card-body">
                    <h5 class="card-title">@item.Producto.Nombre</h5>
                    <p class="card-text">
                        Tamaño: @item.Tamaño.TamañoProducto<br/>
                        Precio: @item.Precio.precio<br/>
                        Cantidad: @item.Cantidad
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>    
             </div>
            </div> 
        } 
    </div> 
</body>